* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 5rem;
  width: 8rem;
}
.container {
  height: 100%;
  width: 100%;
  background-color: hsl(257, 40%, 49%);
  background-image: url(bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  border-radius: 0.6rem;
  padding: 0.6rem;
  display: grid;
  grid-template-columns: 1fr;
}
.table {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table img {
  height: 100%;
  width: 90%;
}
.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
}
p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.register {
  height: 60px;
  width: 80%;
  background: white;
  text-align: center;
  border: none;
  padding-left: 1rem;
  border-radius: 1.5rem;
  color: hsl(257, 40%, 49%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
.icons {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  gap: 2rem;
}
.color {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
  height: 50px;
  width: 50px;
}
@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;
    background-image: url(bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
  }
  .logo img {
    height: 10rem;
    width: 10rem;
  }
  .theory {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    align-items: start;
  }
  .content {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .content h1 {
    font-size: 58px;
  }
  .content p {
    font-size: 25px;
  }
  .button {
    height: 10%;
    width: 40%;
  }
  .icons {
    padding-left: 50rem;
    margin-top: 10rem;
  }
}
